@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

:root {
    --primary-color-white: #f5f5f5;
    --primary-color-white-darker: #dcdcdc;
    --primary-color-black: #323232;
    --primary-color-darker: #525252;
    --grey-color: #8c8c8c;
}

/* ---------- HOME PAGE ---------- */

.background-homepage {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation {
    /*background-color: var(--primary-color-white);*/
    background-color: transparent;
    position: relative;
    transition: transparent-color 0.3s ease;
    z-index: 1;
    height: 5.3rem;
}

.start-page .navigation .logo-image {
    content: url(../images/logo-scris-white.png);
}

.shared-container .navigation .logo-image {
    content: url(../images/logo-scris.png);
}

.start-page .navigation .logo-cart {
    content: url(../images/logo-cart-white.png);
}

.shared-container .navigation .logo-cart {
    content: url(../images/logo-cart-empty.png);
}

.navigation > .container {
    max-width: 90%;
    margin: auto;
}

.navbar {
    position: relative;
}

.logo-toggle-container
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.1rem 0.6rem;
}

.logo-toggle-container a {
    display: block;
}

.logo-toggle-container a img {
    width: 7.5rem;
}

.menu {
    text-align: right;
    position: relative;
    list-style: none;
}

@media screen and (min-width: 183.5rem) {
    .menu {
        display: block !important;
        height: auto !important;
    }
}

.menu li {
    display: inline-block;
    padding: 1.56rem 0;
    margin-left: 0;
    flex: 1;
}

.menu li a,
.menu li button {
    display: block;
    padding: 0.5rem 0.93rem;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.03rem;
    /*color: var(--primary-color-black);*/
    color: var(--primary-color-white);
    font-size: 1rem;
    height: 2.1rem;
}

.menu li:nth-child(1),
.menu li:nth-child(2),
.menu li:nth-child(3) {
    float: left;
}

.menu li:nth-last-child(-n+3) {
    float: right;
}

.menu li:last-child {
    justify-content: flex-end;
    padding-right: 1.25rem;
}

.navigation:hover {
    /*background-color: transparent;*/
    background-color: var(--primary-color-white);
    
}

.navigation:hover .menu li a,
.navigation:hover .menu li button {
    /*color: var(--primary-color-white);*/
    color: var(--primary-color-black);
}

.navigation:hover .logo-image {
    content: url(../images/logo-scris.png);
}

.navigation:hover .logo-cart {
    content: url(../images/logo-cart-empty.png);
}

.logo-cart {
    width: 3.1rem;
    height: auto;
    padding: 0 0.9rem;
}

@media screen and (max-width: 1100px) {
    .logo-toggle-container {
        position: static;
        transform: translateX(0%);
    }

    .logo-toggle-container a {
        width: 80%;
    }

    .toggle-box {
        position: absolute;
        right: 10px;
        top: 20px;
        display: block;
        width: 40px;
        background: var(--primary-color-black);
        padding: 15px 9px;
        cursor: pointer;
        border-radius: 5px;
    }

    .toggle-box span {
        display: block;
        max-width: 90%;
        margin: auto;
        height: 2px;
        background-color: var(--primary-color-white);
        margin-bottom: 4px;
    }

    .toggle-box span:last-child {
        margin-bottom: 0;
    }

    .menu {
        text-align: center;
        display: flex;
        flex-direction: column; 
        list-style: none;
        background-color: var(--primary-color-white);
    }

    .menu li {
        display: block;
        float: none !important;
        padding: 2px 10px;
        border-bottom: 1px solid #ccc; 
    }

    .menu li:nth-child(6) { 
        order: 1; 
    } 

    .menu li:nth-child(5) { 
        order: 2; 
    } 

    .menu li:nth-child(4) { 
        order: 3; 
    }

    .navigation:hover {
        background-color: var(--primary-color-white); /* Initial white background */
    }

    .navigation:hover .menu li a,
    .navigation:hover, menu li button {
        color: var(--primary-color-black); /* Set text color back to black */
    }

    .navigation:hover .logo-image {
        content: url(../images/logo-scris.png); /* Initial logo */
    }

    .navigation:hover .logo-cart {
        content: url(../images/logo-cart-empty.png); /* Initial cart logo */
    }
}


/* ---------- CONTACT PAGE ---------- */

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 85px);
    background: var(--primary-color-black);
    width: 100%;
}

.form-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--primary-color-white-darker);
    z-index: 0;
}

.contact-container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contact-container .contact-info {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: var(--primary-color-black);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.contact-form {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: var(--primary-color-white);
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}

.contact-info h2 {
    color: var(--primary-color-white);
    font-size: 24px;
    font-weight: 500;
}

.contact-info ul.info {
    position: relative;
    margin: 40px 0;
}

.contact-info ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contact-info ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}

.contact-info ul.info li span:nth-child(1) img {
    max-width: 100%;
}

.contact-info ul.info li span:nth-child(2) {
    color: var(--primary-color-white);
    margin-left: 10px;
    font-weight: 300;
}

.contact-info ul.sci {
    position: relative;
    display: flex;
}

.contact-info ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.contact-info ul.sci li a {
    text-decoration: none;
}

.contact-info ul.sci li a img {
    filter: invert(1);
    width: 23px;
}

.contact-form h2 {
    color: var(--primary-color-black);
    font-size: 24px;
    font-weight: 500;
}

.formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.inputBox {
    position: relative;
    margin-bottom: 35px;
}

.inputBox.w50 {
    width: 47%;

}

.inputBox.w100 {
    width: 100%;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--primary-color-black);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey-color);
}

.inputBox textarea {
    height: 120px;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
    color: var(--grey-color);
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--primary-color-darker);
}

.inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    border: none;
    max-width: 150px;
    padding: 12px;
}

.inputBox input[type="submit"]:hover {
    background: var(--primary-color-darker);
}

@media (max-width: 1200px) {
    .contact-container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }

    .contact-container .contact-info {
        top: 0;
        position: relative;
        height: 550px;
        box-shadow: none;
    }

    .contact-container .contact-form {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .form-section {
        background: var(--primary-color-white);
    }

    .form-section:before {
        display: none;
    }

    .contact-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-container .contact-form {
        width: 100%;
        height: auto;
    }

    .contact-container .contact-info {
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .contact-container .contact-info ul.sci {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .contact-container .contact-form {
        padding: 25px;
    }

    .contact-container .contact-info {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-container .contact-info ul.sci {
        margin-top: 40px;
    }

    .contact-container .contact-form .formBox .inputBox.w50 {
        width: 100%;
    }
}

.shared-container {
    display: flex;
    flex-direction: column;
}


.shared-container .navigation:hover {
    background-color: var(--primary-color-white); /* Initial white background */
}

.shared-container .navigation:hover .menu li a {
    color: var(--primary-color-black); /* Set text color back to black */
}

.shared-container .navigation:hover .logo-image {
    content: url(../images/logo-scris.png); /* Initial logo */
}

.shared-container .navigation:hover .logo-cart {
    content: url(../images/logo-cart-empty.png); /* Initial cart logo */
}

.shared-container .navigation {
    background-color: var(--primary-color-white);
}

.shared-container .navigation .menu li a {
    color: var(--primary-color-black);
}

.shared-container .navigation .logo-image {
    content: url(../images/logo-scris.png);
}

.shared-container .navigation:hover .logo-cart {
    content: url(../images/logo-cart-empty.png);
}

/* ---------- BRIGHT SIDE ---------- */

.bright-side {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: var(--primary-color-black);
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 640px;
    flex-direction: column;
    background-color: var(--primary-color-white-darker);
}

/* ---------- SLIDER ---------- */

.carousell {
    position: relative;
    width: 68rem;
    height: 37rem;
    margin: 2.5rem;
    border-radius: 0.6rem;
    overflow: hidden;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    color: var(--primary-color-black);
    background-color: #eee;
    box-shadow: 0 1.5rem 1.5rem -0.3rem var(--primary-color-darker);
}

.carousell .img-list {
    position: absolute;
    top: 0;
    left: 0%;
    width: calc(100% * 3.001);
    height: 100%;
    transition: 500ms;
}

.carousell .img-list img {
    float: left;
    width: calc(100% / 3);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousell .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 3rem;
    padding-bottom: 4.6rem;
}

.carousell .text-content {
    position: absolute;
    bottom: 120px;
    width: calc(100% - 6.25rem);
    max-width: 7.5rem;
    line-height: 1.2;
    color: var(--primary-color-black);
}

.carousell h2 {
    font-size: 2.1rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
}

.carousell p {
    font-weight: 400;
    font-size: 1rem;
}

.carousell .btn-section {
    position: absolute;
    display: flex;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: fit-content;
    width: -moz-fit-content;
}

.carousell .caro-btn {
    width: 1.56rem;
    height: 0.3rem;
    margin: 0 0.25rem;
    background-color: var(--grey-color);
    transition: 300ms;
    cursor: pointer;
}

.carousell .caro-btn:first-child {
    background-color: #fff;
}

.carousell .caro-btn:hover {
    background-color: var(--primary-color-white-darker);
}

@media (max-width: 1110px) {
    .carousell {
        width: 50rem;
        height: 30rem;
    }

    .carousell .img-list {
        width: calc(100% * 3);
    }

    .content h2 {
        font-size: 1.9rem;
    }

    .carousell p {
        font-weight: 400;
        font-size: 0.8rem;
    }
}

@media (max-width: 890px) {
    .carousell {
        width: 35rem;
        height: 20rem;
    }

    .carousell .img-list {
        width: calc(100% * 3);
    }

    .carousell h2 {
        font-size: 1.7rem;
        padding-bottom: 0;
        margin-bottom: 0.2rem;
        margin-left: -2rem;
    }

    .carousell p {
        font-weight: 400;
        font-size: 0.8rem;
        margin-left: -2rem;
        margin-bottom: -3rem;
    }
}

@media (max-width: 550px) {
    .carousell {
        width: 25rem;
        height: 15rem;
    }

    .carousell .img-list {
        width: calc(100% * 3);
    }

    .carousell h2 {
        font-size: 1.5rem;
        padding-bottom: 0;
        margin-bottom: 0.2rem;
        margin-left: -2rem;
    }

    .carousell p {
        font-weight: 400;
        font-size: 0.6rem;
        margin-left: -2rem;
        margin-bottom: -3rem;
    }
}

@media (max-width: 415px) {
    .carousell {
        width: 20rem;
        height: 13rem;
    }

    .carousell .img-list {
        width: calc(100% * 3.001);
    }

    .carousell h2 {
        font-size: 1.3rem;
        padding-bottom: 0;
        margin-bottom: 0.3rem;
        margin-left: -2rem;
    }

    .carousell p {
        font-weight: 400;
        font-size: 0.6rem;
        margin-left: -2rem;
        margin-bottom: -5rem;
    }
}

@media (max-width: 290px) {
    .carousell {
        width: 15rem;
        height: 10rem;
    }

    .carousell .img-list {
        width: calc(100% * 3);
    }

    .carousell h2 {
        font-size: 1rem;
        padding-bottom: 0;
        margin-bottom: 0.3rem;
        margin-left: -2rem;
    }

    .carousell p {
        font-weight: 400;
        font-size: 0.6rem;
        margin-left: -2rem;
        margin-bottom: -5rem;
    }
}

/* ---------- FEATURED PRODUCTS ---------- */

.all-products {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-products h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.product {
    overflow: hidden;
    background: #fff;
    color: #21201e;
    text-align: center;
    width: 240px;
    height: 360px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
}

.product h4 {
    font-family: 'Raleway', sans-serif;
}

.product:hover img {
    scale: 1.1;
}

.product:hover {
    box-shadow: 5px 15px 25px var(--primary-color-darker);
}

.product img {
    height: 200px;
    margin: 1rem;
    transition: all 0.3s;
}

.product .product-btn:link, 
.product .product-btn:visited {
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color-darker);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: all 0.2s;
}

.product .product-btn {
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color-darker);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    transition: all 0.2s;
    border: none;
}

.product .product-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ---------- DARK SIDE ---------- */

.dark-side {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5;
    color: var(--primary-color-white);
    scroll-behavior: smooth;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--primary-color-black);
}

/* ---------- CART ---------- */

.cart-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--grey-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--primary-color-white);
    outline-color: var(--primary-color-darker);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--primary-color-darker);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--primary-color-white);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--primary-color-black);
    color: var(--primary-color-white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 1rem;
}

.btn-buy:hover {
    background-color: var(--primary-color-darker);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-color-black);
}